<div id="top" style="display: block;">
    <div class="bar" style="width: 0;"></div>
    <a class="icon-home image-icon" href="javascript:;"></a>
    <h3 class="subtitle"><%- page.title %></h3>
    <div class="social">
    </div>
    <div class="scrollbar"></div>
</div>